@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

:root{
  --primary-color:#39b779;
  --secondary-color:#c6cfc1;
}

body{
  height: 100vh;
  background: var(--secondary-color) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card{
  overflow: hidden;
  border: 0 !important;
  border-radius: 20px !important;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.img-left{
  width: 45%;
  background: url('/images/register.jpg') center;
  background-size: cover;
}

.login-img{
  width: 45%;
  background: url('/images/mainpic.jpg') center;
  background-size: cover;
}

.card-body{
  padding: 2rem;
}

.title{
  margin-bottom: 2rem;
}

.form-input{
  position: relative;
}

.form-input input{
  width: 100%;
  height: 45px;
  padding-left: 40px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid #00000020;
  border-radius: 50px;
  outline: none;
  background: transparent;
}

.form-input span{
  position: absolute;
  top: 10px;
  padding-left: 15px;
  color: var(--primary-color);
}

.form-input input::placeholder{
  color: gray;
  padding-left: 0px;
}

.form-input input:focus, .form-input input:valid{
  border: 2px solid var(--primary-color);
}

.form-input input:focus::placeholder{
  color: #454b69;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
  background-color: var(--primary-color) !important;
  border: 0px;
}

.form-box button[type="submit"]{
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  background: var(--primary-color);
  color: #fff;
  font-size: 100%;
  font-weight: 600;
  letter-spacing: 0.05rem;
  transition: 0.5s;
  padding: 12px;
}

.form-box button[type="submit"]:hover{
  background: #33A46C;
}

.forget-link, .register-link{
  color: var(--primary-color);
}

.forget-link:hover, .register-link:hover{
  color: #33A46C;
  text-decoration: underline;
}



